<nav class="navbar navbar-inverse bg-light navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">JobOffers</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/allOffers"  >All Offers</a></li>
      <li><a href="/byId" >Find By Id</a></li>
      <li><a href="/addOffer" >Add Offer</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login" (submit)="LogoutClick()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
