<div class="parent">

  <div class="main">

    <input aria-hidden="true" id="chk" type="checkbox">

    <div class="login">

      <form>
        <label aria-hidden="true" for="chk">JOB OFFERS</label>
        <label *ngIf="!blad" aria-hidden="true" for="chk">LOGIN</label>
        <label *ngIf="blad">{{ bladText }}</label>
        <input [(ngModel)]="loginObj.username" name="username" placeholder="Email" required="" type="text">
        <input [(ngModel)]="loginObj.password" name="password" placeholder="Password" required="" type="password">
        <button (click)="onLogin()">LOGIN</button>
      </form>
    </div>

    <div class="signup">
      <form>
        <label aria-hidden="true" for="chk">SIGN UP</label>
        <input [(ngModel)]="registerObj.username" name="username" placeholder="Email" required="" type="text">
        <input [(ngModel)]="registerObj.password" name="password" required="" type="password">
        <button (click)="onRegister()">SIGN UP</button>
      </form>
    </div>
  </div>
</div>
